data/
__pycache__
aclImdb_v1.tar.gz
lightning_logs/
logs/
MNIST/
pretrained/
database/ml.db
SpanEmo-master/
SpanEmo-master.zip
checkpoints/
exported/
*.plan
inference/triton_models/text_cnn_bert_openvino/1/model.bin
inference/triton_models/text_cnn_bert_openvino/1/model.xml
inference/triton_models/text_cnn_bert_openvino/1/model.mapping
